@model IMS.Models.ProductUnit

@{
    ViewData["Title"] = $"Видалити: {Model.UnitName} ({Model.UnitCode})";
    Layout = "_Layout";
    bool canDelete = ViewBag.CanDelete ?? true;
}

<h1>@ViewData["Title"]</h1>

<h3 class="text-danger">Ви впевнені, що хочете видалити цю одиницю виміру?</h3>

@if (!canDelete && ViewBag.WarningMessage != null)
{
    <div class="alert alert-warning" role="alert">
        @ViewBag.WarningMessage <br />
        Спочатку змініть одиницю виміру для відповідних товарів.
    </div>
}

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.UnitCode)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.UnitCode)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.UnitName)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.UnitName)
        </dd>
    </dl>

    <form asp-action="Delete" method="post">
        @Html.AntiForgeryToken()
        <input type="hidden" asp-for="UnitCode" /> 

        @if (canDelete)
        {
            <button type="submit" class="btn btn-danger">Видалити</button>
        }
        else
        {
            <button type="submit" class="btn btn-danger" disabled title="@ViewBag.WarningMessage">Видалити</button>
        }
        | <a asp-action="Index" class="btn btn-secondary">Скасувати</a>
    </form>
</div>